body{
    background-color:pink;
}

.header{
    background-color:beige;
    display: flex;
}

.iconHolder{
    background-color: blueviolet;
    margin: 10px;
    width: 100px;
    padding: 20px;
}

.navBar{
    background-color:grey;
    width: 400px;
    margin: auto;
    padding: 20px;
}

.content{
    background-color:springgreen;
    display: flex;
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
    padding: 1px;
}

.logo{
    position: relative;
    border-radius: 50%;
    scale: 60%;
    margin: auto;
    margin-top: 20px;
    border-style: solid; 
    border-color:blueviolet;
    border-width: 5px;
    max-width: 100%;
    height: auto;
    bottom: 55px;
}

.desc{
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 16px;
    font-style: italic;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 3px;
    margin-right: 15px;
    margin-left: 20px;
    bottom: 80px;
}

.column{
    margin: 10px;
    width: 33%;
    background-color:cadetblue;
}

.pfp{
    position: relative;
    border-radius: 50%;
    border-style: solid; 
    border-color:blueviolet;
    border-width: 2px;
    max-width: 100%;
    height: auto;
}

.quote{
    text-align:center;
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    font-size: 12px;
    font-style: italic;
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: 3px;
    margin-right: 15px;
    margin-left: 20px;
}

.rss{
    background-color:black;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
}

.col3box{
    background-color: tomato;
    padding: 1px;
    margin:10px;
    justify-content: center;
}